.header {
  display: flex;
  flex-direction: column ;
  align-items: center;
  padding: 10px;

}

h1, h2 {
  margin: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.choices {
  display: flex;
  justify-content:space-evenly;
  margin-bottom: 20px;
}

.choices button {
  display: flex;
  flex: 1;
  justify-content: center;
  border: solid 3px black;
  border-radius: 5px;
  background-color: white;
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  padding: 15px 40px;
  margin: auto 20px;
}

.choices button:hover {
  background-color: rgb(253,254,38);
}

.points {
  display: flex;
  justify-content:space-evenly;
  margin-bottom: 20px;
}

.points p {
  display: flex;
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}

.moderator {
  display: flex;
  justify-content: center;
  /* border: 3px solid black; */
  margin-bottom: 20px;
}

.moderator p {
  font-size: 18px;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  margin: 8px auto;
  text-align: center;
}

.banner img{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
}