.header {
  display: flex;
  flex-direction: column ;
  align-items: center;
  padding: 10px;

}

h1, h2 {
  margin: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.start {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.start button {
  display: flex;
  border: solid 3px black;
  border-radius: 5px;
  background-color: white;
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  padding: 15px 40px;
}

.start button:hover {
  background-color: rgb(253,254,38);
}


.banner img{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
}